{{> navbar }}

<body>
    <h1 class="dash-header"> {{username}}'s Dashboard</h1>
    <a href="/dashboard/add-form" class="add-post">Add New Post</a>

    <div>
        {{#each posts}}
        <div class="post">
            <h2>{{this.title}}</h2>
            <p class="home-content">{{this.content}}</p>
            <p class="posted">Posted On: {{formatDate this.createdAt 'MMMM Do YYYY'}}</p>
            <a href="/dashboard/update-form/{{this.id}}" class="edit-post">Edit</a> | <a href="#" class="delete-post" data-id="{{this.id}}">Delete</a>

        </div>
        {{/each}}
    </div>
</body>
<script src="/js/script.js"></script>